/* Use import to split up your CSS into manageable chunks */
@import url("./_reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./_variables.css");
/* Feel free to add as many of these imports as you need */


*header 

<header>
      <nav> 
          <a href="index2.html" class="logonav"><img class="logonav" src="assets\images\logo.png" alt="GameHub-Logo"></a>
          <div class="main-nav">
              <form action="" class="search-bar">
                  <img class="search-icon" src="assets\search.svg">
                  <input type="text" placeholder="Search">
              </form>
              <ul>
                  <li><a href="index2.html">Home</a></li>
                  <li><a href="products.html">Store</a></li>
                  <li><a href="about.html">About</a></li>
                  <li><a href="contact.html">Contact</a></li>
              </ul>
          </div>
          <div class="login">
              <li><a href=""><img src="assets\heart.svg" class="Wishlist"></a></li>
              <li> |</li>
              <li><a href="">Login</a></li>
          </div>        
      </nav>
  </header>


  nav {
    display: flex;
    background-color: rgba(150, 149, 149, 65%)
}


.logonav {
    max-height: 125px;
    padding-left: 10%;
    padding-top: 2px;
    cursor: pointer;
}

.search-bar {
    width: 100%;
    max-width: 415px;
    max-height: 36px;
    background-color: #D9D9D9;
    color: #646464;
    display: flex;
    align-items: center;
    border-radius: 70px;
    padding: 10px 20px;
}

.search-bar > input {
    background-color: #D9D9D9;
    outline: none;
    border: 0;
    padding-left: 5px;
    font-size: 25px;
}

.search-icon {
    width: 25px;
    height: 25px;
}

.main-nav {
    display: flex-box;
    align-items: center;
    padding-left: 20%;
    margin-top: 1%;
    justify-content: space-between;
}

.main-nav > ul {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.main-nav > ul > li > a {
    text-decoration: none;
    color: #1B203D;
    font-weight: bolder;
    font-size: 30px;

}


.login {
    margin-left: 15%;
    margin-top: 1%;
    list-style: none;
    text-decoration: none;
    display: flex;
    gap: 5px;
    font-size: 25px;
    font-weight: bold;    
}

.login img {
    height: 20px;
}


_________________________________________

*footer 

<footer>
    <a href="index2.html" class="logofoot"><img class="logofoot" src="assets\images\logo.png" alt="GameHub-Logo"></a>
        <ul class="foot-ul">
            <li class="foot-ul-h2">Shortcuts</li>
            <li class="foot-ul-li"><a href="">My Library</a></li>
            <li class="foot-ul-li"><a href="">Giftcard</a></li>
            <li class="foot-ul-li"><a href="">Wishlist</a></li>
        </ul>
        <ul class="foot-ul">
            <li class="foot-ul-h2">Support</li>
            <li class="foot-ul-li"><a href="">Contact Us</a></li>
            <li class="foot-ul-li"><a href="">Complaint Form</a></li>
            <li class="foot-ul-li"><a href="">Refund</a></li>
        </ul>
        <ul class="foot-ul">
            <li class="foot-ul-h2">Information</li>
            <li class="foot-ul-li"><a href="">About Us</a></li>
            <li class="foot-ul-li"><a href="">Terms and Conditions</a></li>
            <li class="foot-ul-li"><a href="">Q/A</a></li>
        </ul>
</footer>

<div class="low-bar">
    <div class="icons">
        <a href="" class="face-logo"><img src="assets\facebook.png" class="face-logo"></a>
        <a href="" class="yt-logo"><img src="assets\youtube.png" class="yt-logo"></a>
        <a href="" class="insta-logo"><img src="assets\instagram.png" class="insta-logo"></a> 
    </div>
    <h3>Supporting gamers since 2018</h3>
</div>


footer {
    display: flex;
    height: 384px;
    background-color: #646B7E;
    color: #FCF9F8;
    font-size: 35px;
    align-items: center;
    gap: 8%;
}



footer > .foot-ul > .foot-ul-li {
    list-style: none;
    color: #FCF9F8;
}

footer > .foot-ul > .foot-ul-li > a {
    color: #FCF9F8;
}

footer > .foot-ul > .foot-ul-h2 {
    list-style: none;
    font-weight: bolder;

}

.logofoot {
    max-height: 223px;
    margin-left: 5%;
    cursor: pointer;
}

.low-bar {
    background-color: #FCF9F8;
    height: 60px;
    display: flex;
    align-items: center;
    color: #1B203D;
    justify-content: space-between;
}

.low-bar > h3 {
    margin-right: 5%;
    font-size: 25px;
    font-weight: light;
}

.face-logo {
    width: 57px;
    height: 55px;

}

.yt-logo {
    width: 55px;
    height: 55px;
}

.insta-logo {
    width: 57px;
    height: 55px;
}

.icons {
    margin-left: 45%;
}

